# IDE
.history
.idea
/_ide_macros.php

# Configuration
/.env
/.env.backup
/docker-compose.override.yml
/docker/webserver/apache/env/
/docker/webserver/php/conf.d/zz-php-local.ini
/Homestead.json
/Homestead.yaml

# Local development
/app/Http/Controllers/DevelopmentController.php
/routes/api/development.php

# Environment
/config/api-tokens.php

# Generated and local data
node_modules
/docker/elasticsearch/data
/docker/mariadb/data
/public/hot
/public/storage
/storage/*.key
/vendor

# Logs
.phpunit.result.cache
npm-debug.log
yarn-error.log

# Misc
.DS_Store
