# IDE
.history
.idea

# Configuration
/docker-compose.override.yml
/docker/webserver/apache/env/
/docker/webserver/php/conf.d/zz-php-local.ini

# Generated and local data
/docker/elasticsearch/data
/storage
